@use "../abstracts/mixins" as mix;
@use "../abstracts/colors" as col;

.chartBox {
  @include mix.set_dimensions(30%, 440px);
  float: left;
  background-color: col.$white;
}

.DoughnutChart {
  @include mix.set_dimensions(100%, 100%);
  max-width: 100%;
  position: relative;

  @media (min-width: 768px) {
    width: 100%;
  }
}
