@use '../abstracts/colors' as col;
@use '../abstracts/mixins' as mix;

.nav{
    background-color: col.$main;
    &__container{
        width: 90%;
        margin: 0 auto;
        height: 100px;
        @include mix.create_flexbox($justify: space-evenly);
    }
    &__item{
        color: col.$white;

        &:hover{
            color: col.$yellow;
        }
    }
}