@use '../abstracts/mixins' as mix;
@use '../abstracts/colors' as col;

.login__container {
  @include mix.create_flexbox($flexDir:column);
  height: 100vh;

  h1 {
    margin-bottom: 2rem;
  }

  form {
    @include mix.create_flexbox($flexDir:column);

    label {
      margin-top: 1rem;
    }

    input {
      margin-top: 0.5rem;
      padding: 0.5rem;
      border-radius: 0.25rem;
      border: 1px solid col.$mid;
    }

    button {
      margin-top: 1rem;
      padding: 0.5rem 1rem;
      border-radius: 0.25rem;
      border: none;
      background-color: col.$blue;
      color: col.$white;
      cursor: pointer;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: col.$blue-light;
      }
    }
  }
}
