@use '../abstracts/mixins' as mix;

.col1{
    // width: 70%;
    @include mix.set_dimensions($width: 70%);
    float: left;
}

.col2{
    // width: 30%;
    @include mix.set_dimensions($width: 30%);
    float: left;
}

.box{
    margin-top: 80px;
}