$main: #333333;
$mid: #C4C4C4;
$secondary: #7F8DFF;
$light: #C9D4FF;
$white: #f5f5f5;
$black: #000202;
$red: #df3e23;
$orange: #FF7F7F;
$purple: #520C49;
$yellow: #9E8000;
$green: #63c74d;
$blue: #285cc4;
$blue-light: #249fde;