@mixin create_flexbox($flexDir:initial, $justify:center) {
    display: flex;
    flex-direction: $flexDir;
    justify-content: $justify;
    align-items: center;
}

@mixin set_dimensions($width: auto, $height: auto) {
    width: $width;
    height: $height;
}